/*

        GalleryView Stylesheet

        Use the CSS rules below to modify the look of your gallery.

        To create additional rules, use the markup below as a guide to GalleryView's architecture.

        <div class="gallery">
                <div class="panel">
                        <img src="path/to/image.jpg" />
                        <div class="panel-overlay">
                                ...overlay content...
                        </div>
                        <div class="overlay-background"></div>
                </div>
                <ul class="filmstrip">
                        <li class="frame current">
                                <img src="path/to/thumbnail.jpg" />
                                <div class="caption">caption text</div>
                        </li>
                        <li class="frame">
                                <img src="path/to/thumbnail.jpg" />
                                <div class="caption">caption text</div>
                        </li>
                </ul>
        </div>


*/

/* GALLERY LIST */
/* IMPORTANT - Change '#photos' to the ID of your gallery list to prevent a flash of unstyled content */
#photos { visibility: hidden; }

/* GALLERY CONTAINER */
.gallery { height:431px !important;}

/* LOADING BOX */
.loader { background: url(loader.gif) center center no-repeat #ddd; }

/* GALLERY PANELS */
.panel {}

/* DEFINE HEIGHT OF PANEL OVERLAY */
/* NOTE - It is best to define padding here as well so overlay and background retain identical dimensions */
.panel .panel-overlay,
.panel .overlay-background { height: 70px; padding: 0 1em; }

/* PANEL OVERLAY BACKGROUND */
.panel .overlay-background { background: #222; }

/* PANEL OVERLAY CONTENT */
.panel .panel-overlay { color: white; font-size: 1em; }
.panel .panel-overlay a { color: white; text-decoration: underline; font-weight: bold; }

/* FILMSTRIP */
/* 'margin' will define top/bottom margin in completed gallery */
.filmstrip { margin: 5px; }

/* FILMSTRIP FRAMES (contains both images and captions) */
.frame {
        margin:0 17px 0 0!important;
}

/* WRAPPER FOR FILMSTRIP IMAGES */
.frame .img_wrap {
        border:1px solid fff;
        width:140px;
        height:63px;
        overflow:hidden;
        border-radius:4px!important;
        -moz-border-radius:4px!important;
        -webkit-border-radius:4px!important;
        position:relative!important;
        margin:4px 4px 0 4px;
}

/* WRAPPER FOR CURRENT FILMSTRIP IMAGE */
.frame.current .img_wrap {
        border:5px solid #fff;
        margin:0 0 0 0;
}

/* FRAME IMAGES */
.frame img { border: none; }

/* FRAME CAPTION */
.frame .caption { font-size: 11px; text-align: center; color: #888; }

/* CURRENT FRAME CAPTION */
.frame.current .caption { color: #fff; }

/* POINTER FOR CURRENT FRAME */
.pointer {
        border:none;
        width:11px!important;
        height:6px;
        background:url(../../../themes/prestashop/img/pointer.png) no-repeat 0 0;
        border-width:0!important;
        top:345px!important;
}

/* TRANSPARENT BORDER FIX FOR IE6 */
/* NOTE - DO NOT CHANGE THIS RULE */
*html .pointer {
        filter: chroma(color=pink);
}

/* OVERWRITE PRESTASHOP GLOBAL CSS */
#gallery .panel-overlay {
        text-align:left;
        position:absolute!important;
        left:522px!important;
        top:36px;
        display:block;
        text-align:left;
        width:504px!important;
}
#gallery .panel-overlay h3 a{
        font-size:38px;
        color:#2b2b2b;
        text-decoration:none;
        font-weight:400;
        font-family: 'Open Sans', sans-serif;

        margin:0 4px 0 0; color:#96d142; text-transform:uppercase;
}
#gallery .panel-overlay h3 a span{
        font-family: 'Open Sans', sans-serif;
        font-size:50px;
        line-height:50px;
        color:#6eb62f;
        font-weight:400;
        display:block;
        color:#3a383a;
        margin-bottom:4px; text-transform:none;
}
#gallery .panel-overlay span{
        font-family: 'Open Sans', sans-serif;
        font-size:45px;
        line-height:50px;
        display:block;
        font-weight:400;
        color:#c8c8c8;
        margin-top:7px;
}
#gallery .panel-overlay > p{

}
#gallery .panel-overlay  strong{
        font-family: 'Open Sans', sans-serif;
        font-size:15px;
        line-height:17px;
        display:block;
        font-weight:400;
        color:#7d7d7d;
        letter-spacing:-1px;
        margin-bottom:9px;
}
#gallery .panel img     {left:-271px !important; top:11px; width:460px !important; height:323px !important;}
#gallery .btn1{

        text-align:center;
        display:inline-block;
        font-size:22px;
        font-weight:normal;
        line-height:21px;
        text-decoration:none;
        text-transform:uppercase;
        padding:13px 26px 13px 26px;
        margin:15px 2px 0 0;
        font-family: 'Open Sans', sans-serif;
        letter-spacing:-1px;
        border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        position:relative;
}
#gallery .btn1:hover{
        color:#2b2b2b;
}
#gallery .panel-overlay h3{background:#fafafa;
        margin:0;
        padding:0;
}
#gallery .panel-overlay > p {
        display:block; margin-top:7px; overflow:hidden;
        padding:0;background:#fafafa;
}
.strip_wrapper{
        background:url(/digsto/strip_wrapper.png) no-repeat 0 0;
        width:1024px!important;
        left:0!important;
        margin:0!important;
        height:87px!important;
        padding:0!important;
        text-align:center;
}
.strip_wrapper ul{
        margin:0 0 0 340px !important; width:auto !important;

        padding:10px 0 10px 0px!important;
}
.panel .panel-overlay,
.panel .overlay-background { height: 50px; padding: 0 0px 0 0; display:none;}
.nav-next,
.nav-prev{ display:none;}