   body , p, table,td,tr,img,a
   {
    BORDER:0px;
    PADDING:0px;
    MARGIN:0px;
    spacing:0px;
    FONT-FAMILY: Arial;
/*    font-weight:bold;*/
    FONT-SIZE: 12;
    color:#111111;
  }
 a{text-decoration:underline;}

  hr{
    color:transparent;
    border: 1px solid transparent;
    border-top: 1px dotted #111111;/*#929cba;*/

  }

.mnul:link    { COLOR: #ffffff;}
.mnul:visited { COLOR: #ffffff;}
.mnul:active  { COLOR: #ffffff;}
.mnul:hover   { COLOR: #ffffff;}

  .td_data{ padding:8px;   border: 1px dotted #111111;/*#929cba;*/
            background: #ffffff;/*#dae5f1;*/

  }

  .td_tabhd,.td_mru,.td_mrb,.td_mlb,.td_mlu{
    color:white;
    border: 0px;
    valign:center;
    text-align:center;
    height:24px;
  }
.menucont
{
    border: 3px solid #888888;
}
  .searchA{
      color:white;font-weight:bold;
      background: transparent;border:0px;
      width:228px;
      FONT-SIZE: 12;
      border-bottom: 1px dotted #5555ba;
  }

  .td_menu{background: #999999; border: 0px;height:32px;}

  .td_search{background: transparent  repeat-x; border: 0px;height:28px;text-align:center;valign:top;padding:4px;}

  .td_tabhd{background: #bb0000    repeat-x; border: 1px solid #996237;}
  .td_mru  {background: #bb0000; text-align:right;}
  .td_mrb  {background: #bb0000;}
  .td_mlb  {background: #bb0000;}
  .td_mlu  {background: #bb0000; text-align:left;}

  .td_mwrk{ padding:8px; background: #dae5f1 url("/image/split.png") repeat-x; border: 1px dotted #929cba;width:100%}


  .tdpp{padding:8px;}

  select,input,textarea{  FONT-SIZE: 11;}


  body{
    margin: 0;
    padding: 0;
    background:white; /*#4286c3;*/
    font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
    color: #666666;
  }



.CATLISTSUBITEM
{

}


.DELLINK
{
color:red;
}

.PRMLINK
{
color:green;
}

.GRPLINK
{
color:blue;
}

.BUCKLINK
{
  FONT-SIZE: 13;
  color:green;
}

.CATLISTITEM
{
  FONT-SIZE: 14;color:#111188;FONT-WEIGHT: bold
}



.page{
padding:2px;
background-color:#aaccff;
color:#FFFFFF;
border-left  :1px solid #bbbbbb;
border-top   :1px solid #bbbbbb;
border-right :1px solid #999999;
border-bottom:1px solid #999999;

text-align:center;
};
.pagesel{
padding:2px;
background-color:#dae5f1;
color:#000000;
border:1px solid #bbbbbb;
text-align:center;
};

.table_page{cellpadding:0px;cellspacing:0px;text-align:center;
border-top   :1px solid #777777;
border-bottom:1px solid #555555;

};
.td_cat_prm  {background: transparent url("/image/cat_prm.png1") ;FONT-SIZE: 14; text-align:center;color:#2255aa;border-bottom:1px dotted #555555}
.td_cprm_name {color:#000000;}
.td_cprm_val  {color:#222222;}


.td_data0{ background: #eeeeee;}
.td_data1{ background: #dcdcdc;}

.pricev{FONT-SIZE: 20;color:red;}
.pricep{FONT-SIZE: 18;color:black;}

.prminput{border:0px;width:100%;}



.subm_item {
        Z-INDEX: 400; POSITION: absolute; PADDING-LEFT: 0px; DISPLAY: none; OVERFLOW: hidden; TOP: 32px
}
.mvideo_container {
        CLEAR: both
}
.mvideo_content {
        BORDER-LEFT: #cacaca 1px solid; BACKGROUND-COLOR: #fff; BORDER-RIGHT: #cacaca 1px solid
}
.subm_rb .scontent {
        Z-INDEX: 200; TEXT-ALIGN: center; BORDER-LEFT: #cacaca 1px solid; BACKGROUND: #f7f7f7; COLOR: #000; BORDER-RIGHT: #cacaca 1px solid
}


.subm_rb .scontent UL {
        PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 5px
}
.subm_rb .scontent UL LI {
        BORDER-BOTTOM: #cacaca 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 3px; TEXT-TRANSFORM: none; LIST-STYLE-TYPE: none; PADDING-LEFT: 20px; PADDING-RIGHT: 15px; LIST-STYLE-IMAGE: none; PADDING-TOP: 3px
}
.subm_rb .scontent UL LI A {
        FONT: 11px Tahoma; COLOR: #000;
}
.subm_rb .scontent UL LI A:visited {
        FONT: 11px Tahoma; COLOR: #000;
}
.subm_rb .scontent UL LI A:active {
        FONT: 11px Tahoma; COLOR: #000;
}
.subm_rb .scontent UL LI A:link {
        FONT: 11px Tahoma; COLOR: #000;
}
.subm_rb .scontent UL LI A.b62831 {
        COLOR: #b62831
}
.subm_rb .scontent UL LI A.b62831:visited {
        COLOR: #b62831
}
.subm_rb .scontent UL LI A.b62831:active {
        COLOR: #b62831
}
.subm_rb .scontent UL LI A.b62831:link {
        COLOR: #b62831
}
.bold {
        FONT-WEIGHT: bold
}
.subm_rb .scontent UL LI A:hover {
        COLOR: #ed212e; TEXT-DECORATION: underline
}
.corner {
        WIDTH: 21px; HEIGHT: 21px
}


.dottedLeft {
    border: 1px solid transparent;
    border-left: 1px dotted #929cba;
}


.realred1 {
        Z-INDEX: 1; POSITION: relative; MARGIN-TOP: 5px; BACKGROUND: url(/image/left-top.png) #2bba28 no-repeat left top; OVERFLOW: hidden
}
.realred2 {
        ZOOM: 1; BACKGROUND: url(/image/right-top.png) no-repeat right top
}
.realred3 {
        BACKGROUND: url(/image/right-bottom.png) no-repeat right bottom
}
.realred4 {
        TEXT-ALIGN: center; ZOOM: 1; BACKGROUND: url(/image/left-bottom.png) no-repeat left bottom; COLOR: white; FONT-SIZE: 11px
}

.price .thousands {
        POSITION: relative; FONT-SIZE: 140%; VERTICAL-ALIGN: text-top; TOP: -0.11em; FONT-WEIGHT: bold
}
